foodiary.zip

foodiary/src/main/resources/application-aws.yml
foodiary/src/main/resources/application-oauth.yml
foodiary/src/main/resources/application-sever.yml
foodiary/src/main/resources/application.yml
