<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.foodiary.daily.mapper.DailyMapper">

    <insert id="saveDaily">
        INSERT INTO TB_Daily (MEMBER_ID, DAILY_TITLE, DAILY_BODY, DAILY_CREATE, DAILY_UPDATE)
        VALUES (#{memberId}, #{title}, #{content}, now(), now());
    </insert>

</mapper>