<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.foodiary.daily.mapper.DailyMapper">

<!--    ===================================== INSERT ========================================-->

<!--    게시글 추가-->
    <insert id="saveDaily" useGeneratedKeys="true" keyProperty="dailyId" keyColumn="DAILY_ID">
        INSERT INTO TB_DAILY (MEMBER_ID, DAILY_TITLE, DAILY_BODY, DAILY_WRITE, DAILY_VIEW, DAILY_PATH, DAILY_CREATE, DAILY_UPDATE)
        VALUES (#{memberId}, #{title}, #{content}, #{write}, 0, #{path}, now(), now());
    </insert>


<!--    댓글 추가-->
    <insert id="saveDailyComment">
        INSERT INTO TB_DAILY_COMMENT (MEMBER_ID, DAILY_ID, DAILY_COMMENT_BODY, DAILY_COMMENT_CREATE, DAILY_COMMENT_UPDATE)
        VALUES (#{memberId}, #{dailyId}, #{content}, now(), now());
    </insert>


<!--    좋아요-->
    <insert id="saveDailyLike">
        INSERT INTO TB_DAILY_LIKE (MEMBER_ID, DAILY_ID)
        VALUES (#{memberId}, #{dailyId});
    </insert>


<!--    게시글 스크랩-->
    <insert id="saveDailyScrap">
        INSERT INTO TB_MEMBER_BOARDSCRAP_DAILY (MEMBER_ID, DAILY_ID)
        VALUES (#{memberId}, #{dailyId});
    </insert>

    <insert id="saveImage">
        INSERT INTO TB_DAILY_IMAGE (MEMBER_ID, DAILY_ID, DAILY_IMAGE_ORIGINAL_NAME, DAILY_FILE_FULL_NAME, DAILY_FILE_SAVE_NAME, DAILY_FILE_PATH, DAILY_FILE_SIZE, DAILY_FILE_EXT, DAILY_FILE_CREATE, DAILY_FILE_UPDATE)
        VALUES (#{memberId}, #{dailyId}, #{originalName}, #{originalFullName}, #{saveName}, #{path}, #{size}, #{ext}, now(), now());
    </insert>





    <!--    ===================================== UPDATE ========================================-->



<!--    게시글 수정-->
    <update id="updateDaily">
        UPDATE TB_DAILY
        SET DAILY_TITLE = #{title}, DAILY_BODY = #{content}, DAILY_UPDATE = now()
        WHERE  MEMBER_ID = #{memberId} AND DAILY_ID = #{dailyId};
    </update>



<!--    댓글 수정-->
    <update id="updateDailyComment">
        UPDATE TB_DAILY_COMMENT
        SET DAILY_COMMENT_BODY = #{content}, DAILY_COMMENT_UPDATE = now()
        WHERE DAILY_COMMENT_ID = #{commentId} AND MEMBER_ID = #{memberId} AND DAILY_ID = #{dailyId};
    </update>

    <update id="updateDailyView">
        UPDATE TB_DAILY
        SET DAILY_VIEW = TB_DAILY.DAILY_VIEW + 1, DAILY_UPDATE = now()
        WHERE DAILY_ID = #{dailyId};
    </update>






    <!--    ===================================== SELECT ========================================-->



<!--    게시판 조회-->
    <select id="findAll" resultType="com.foodiary.daily.model.DailysResponseDto">
        SELECT * FROM TB_DAILY
    </select>


<!--    게시글 조회-->
    <select id="findByDailyId" resultType="com.foodiary.daily.model.DailyDetailsResponseDto">
        SELECT * FROM TB_DAILY
        WHERE DAILY_ID = #{dailyId}
    </select>


<!--  좋아요 취소전 null 체크용  -->
    <select id="findByDailyLikeId" resultType="Integer">
        SELECT DAILY_LIKE_ID FROM TB_DAILY_LIKE
        WHERE DAILY_LIKE_ID = #{dailyLikeId}
    </select>


<!--    게시글 좋아요 늘렀는지 유무 확인용-->
    <select id="findByMemberIdAndDailyId" resultType="Integer">
        SELECT DAILY_LIKE_ID FROM TB_DAILY_LIKE
        WHERE MEMBER_ID = #{memberId} AND DAILY_ID = #{dailyId}
    </select>


<!--    게시글 좋아요 갯수-->
    <select id="findAllDailyId" resultType="Integer">
        SELECT DAILY_LIKE_ID FROM TB_DAILY_LIKE
        WHERE  DAILY_ID = #{dailyId}
    </select>


<!--    댓글 조회-->
    <select id="findAllDailyComment" resultType="com.foodiary.daily.model.DailyCommentDetailsResponseDto">
        SELECT * FROM TB_DAILY_COMMENT
        WHERE  DAILY_ID = #{dailyId}
    </select>


<!--    댓글 삭제전 null값 확인용-->
    <select id="findByDailyComment" resultType="com.foodiary.daily.model.DailyCommentDetailsResponseDto">
        SELECT * FROM TB_DAILY_COMMENT
        WHERE  DAILY_COMMENT_ID = #{commentId}
    </select>


<!--    스크랩 유무 확인용-->
    <select id="findByDailyScrap" resultType="Integer">
        SELECT * FROM TB_MEMBER_BOARDSCRAP_DAILY
        WHERE  DAILY_ID = #{dailyId} AND MEMBER_ID = #{memberId}
    </select>


<!--    게시글 이미지 가져오기-->
    <select id="findByDailyImage" resultType="String">
        SELECT DAILY_FILE_PATH FROM TB_DAILY_IMAGE
        WHERE  DAILY_ID = #{dailyId}
    </select>





    <!--    ===================================== DELETE ========================================-->



<!--    좋아요 취소-->
    <delete id="deleteDailyLike">
        DELETE FROM TB_DAILY_LIKE
            WHERE DAILY_LIKE_ID = #{dailyLikeId}
    </delete>


<!--    게시글 삭제-->
    <delete id="deleteDaily">
        DELETE FROM TB_DAILY
        WHERE DAILY_ID = #{dailyId} AND MEMBER_ID = #{memberId}
    </delete>


<!--    댓글 삭제-->
    <delete id="deleteDailyComment">
        DELETE FROM TB_DAILY_COMMENT
        WHERE DAILY_ID = #{dailyId} AND MEMBER_ID = #{memberId} AND DAILY_COMMENT_ID = #{commentId}
    </delete>

    <delete id="deleteDailyScrap">
        DELETE FROM TB_MEMBER_BOARDSCRAP_DAILY
        WHERE DAILY_ID = #{dailyId} AND MEMBER_ID = #{memberId} AND MEMBER_DAILY_BOARDSCRAP_ID = #{scrapId}
    </delete>

</mapper>



