<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper namespace="com.foodiary.member.mapper.MemberMapper"> -->
<mapper namespace="com.foodiary.member.mapper.MemberMapper">

    <!-- src/main/java/com/foodiary/member/mapper/MemberMapper.java -->
    <!-- <select id="findByEmail" resultType="com.foodiary.member.MemberResponseDto">
        SELECT * FROM MEMBER WHERE
	</select> -->

    <insert id="saveMember" parameterType="com.foodiary.member.dto.MemberPostDto">
        INSERT INTO MEMBER (MEMBER_EMAIL, MEMBER_PW, MEMBER_NICKNAME,
        MEMBER_FOOD, MEMBER_IMAGE, MEMBER_PROFILE, MEMBER_YN)
        VALUES (#{email}, #{pw}, #{nickName}, #{food}, #{image}, #{profile}, #{yn})
	</insert>

</mapper>